body{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

.centered{
  text-align: center;
}
.jumbotron{
  background-image: url("../img/header.png");
  background-position: center;
  padding: 50px;
}
.jumbotron h1{
    font-size: 8em;
    text-shadow: 3px 3px #edf3ff;
}
.navbar{
  font-size: 2em;
  padding: 10px;
  text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.search{
text-align: center;
}

.addBand{
  background-color: #eff5ff;
  padding-left: 100px;
  padding-right: 100px;
}
.bandRow{
  background-color:  #eff9e8;
  padding: 30px;
  background-size:cover;
}
.bandRow::after {
  content: "";
  background-color: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.edit{
margin-left: 10px;
}

.panel{
background-color: #f4f8ff;
opacity: .9;
}
.footer{

  opacity: .5;
margin-top: 30px;
}
